{
  "env": {
    "es6": true,
    "node": true,
    "mocha": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "plugins": [
    "mocha"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:node/recommended"
  ],
  "rules": {
    "no-prototype-builtins": ["off"],
    "no-unused-vars": ["off"],
    "node/no-unsupported-features/es-syntax": ["off"]
  },
  "overrides": [
    {
      "files": [
        "test/**/*.ts"
      ],
      "extends": [
        "plugin:mocha/recommended"
      ],
      "rules": {
        "mocha/no-mocha-arrows": ["off"]
      }
    }
  ]
}
